<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movie List</title>
    <!-- Bootstrap CSS for styling the table -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Movie List</h2>
        <h3>{{voters}}</h3>
        <table class="table table-bordered table-striped mt-3">
            <thead class="thead-dark"> <!-- creates a dark background for the table header -->
                <tr>
                    <th>Title</th>
                    <th>Popularity</th>
                    <th>Release Date</th>
                </tr>
            </thead>
            <tbody> <!-- table body -- loop through all of the users -->
                {% for movie in movies %}
                <tr>
                    <td>{{ movie['title'] }}</td>
                    <td>{{ movie['overview'] }}</td>
                    <td>{{ movie['release_date'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
 </body>
</html>