<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1><!-- code for boxes to enter data into to then be posted for access in flaskapp-->
    <form action="{{ url_for('login') }}" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password" required><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>